<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{url_for('static', filename='highlitght.css')}}" />
    <link rel="stylesheet" href="{{url_for('static', filename='style1.css')}}"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>

<body>
    <header>
        <h1 align="center">
            {{title}}
        </h1>
    </header>
    <div class="container container-fluid" id="content">
        <div class="row">
            <div class="col-md-9">
                <div class="meta">
                    {% if  date %}
                        <small class="date">Published on: {{date}}</small><br/>
                    {% endif %}

                    {% if author %}
                    <small class="author">Published by <a href="/author/{{author}}">{{author}}</a></small>
                    {% endif %}
                </div>

                {{content|safe}}
                <div class="meta">
                    {% if category %}
                        <small class="category">
                            Category: <a href="/category/{{category}}">{{category}}</a>
                        </small><br/>
                    {% endif %}

                    {% if tags %}
                        <small class="tags">
                            {% for tag in tags %}
                                <a href="/tag/{{tag}}">{{tag}}</a>
                            {% endfor %}
                        </small>
                    {% endif %}
                </div>
            </div>

            <aside class="col-md-3">
                <div class="aside-block">
                    <h3>Catalog</h3>
                    <ul>
                        <li><a href="/">Home</a></li>
                        <li><a href="/history">History</a></li>
                        <li><a href="/category">Category</a></li>
                        <li><a href="/about">About</a></li>

                    </ul>

                </div>
            </aside>


        </div>
    </div>

</body>
</html>

